HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/resources/.env
/subscriptions/src/main/resources/.env
/auth-users/src/main/resources/.env
**/**/src/main/resources/.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/images/


/subscriptions/src/main/resources/.env_gg
/products/src/main/resources/.env_gg
/eureka-server/src/main/resources/.env_gg
/config-server/src/main/resources/.env_gg
/api-gateway/src/main/resources/.env_gg
/auth-users/src/main/resources/.env_gg
